<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <h2>Oops! Page does not exist.</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit quo
        distinctio odit voluptas maiores temporibus voluptate consectetur
        explicabo aspernatur ratione, consequatur minima rerum aut omnis.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
