<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <h2>About Us</h2>
      <p style="text-align: justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum
        perferendis eveniet! Magni itaque, atque laborum earum ullam velit
        aperiam suscipit non a. Dolor iure quas maiores, odio similique nobis
        blanditiis officia non nam, quibusdam facere quis soluta omnis.
        Assumenda, beatae in ducimus incidunt reprehenderit voluptates fugit
        veritatis quas nobis recusandae! Excepturi quod eligendi adipisci
        quisquam officia, facilis ullam, exercitationem amet repudiandae commodi
        nisi blanditiis est iste maiores neque libero vel, culpa provident?
        Expedita numquam facilis ad est at quod, maiores nam corporis ex, quam
        sapiente quae unde similique? Facere laboriosam minus sint maiores
        aspernatur consectetur neque quidem. Nihil provident explicabo eveniet
        corrupti perspiciatis soluta excepturi illum odio omnis, voluptates quos
        qui quod aliquam ab culpa blanditiis laborum similique temporibus
        mollitia. Commodi temporibus reprehenderit illum accusantium, quaerat
        hic cumque quae minus suscipit a dignissimos expedita odit atque fugiat
        fuga consequuntur deserunt provident sapiente! Repellat non quod
        voluptatum saepe temporibus, maxime vitae, quam molestias accusamus
        placeat excepturi itaque consequatur voluptates id illum a recusandae
        culpa reprehenderit hic? Perspiciatis natus numquam ipsam at incidunt
        beatae fuga inventore corporis amet temporibus voluptates facilis ex
        repellendus debitis assumenda quasi magnam, omnis placeat molestias
        adipisci! Recusandae aliquam provident ut neque sit molestias, hic nulla
        at magnam laudantium corporis sapiente vel assumenda odit dolores cum
        non est eum incidunt optio tempore enim maxime, unde qui. Autem nemo
        eos, beatae dolor ullam sapiente minima aliquam quisquam provident
        voluptas dolorem. Aperiam voluptates perferendis consectetur fugit
        laudantium eum architecto, itaque eos sint illum earum vel minus amet
        assumenda dolor modi explicabo est repellendus, omnis impedit similique
        sequi ab! Odio magni saepe assumenda ipsum? Quos mollitia magni
        dignissimos obcaecati odit fugit laudantium atque libero, ratione
        perferendis corporis pariatur eveniet fuga inventore nam harum. Fugit id
        reiciendis voluptate ipsum perspiciatis consequatur tempore quae iusto
        aspernatur assumenda. Provident voluptatibus quo at quasi saepe
        consequatur, vel minima similique aut porro quis quibusdam eos sit
        cumque voluptate quisquam beatae vero impedit ipsam libero suscipit
        facilis sint unde nihil. Perspiciatis quidem consectetur qui at
        distinctio ratione necessitatibus eum animi aut provident, ipsum optio
        possimus nulla saepe nemo dolorem, sequi rem ducimus voluptatibus odit,
        molestias sit? Beatae, eaque. Reprehenderit asperiores repudiandae
        perferendis incidunt dignissimos deserunt, suscipit vero, natus dolorem
        eius ab impedit quisquam, quod culpa sequi provident autem neque
        accusamus blanditiis rem atque amet laboriosam. Qui consequatur harum
        dolorum! In fugit molestiae vel saepe, ducimus ipsam at eligendi ratione
        accusantium quam est, eos minus ab perspiciatis. Pariatur, ea laborum
        ipsa enim magni dolore dolores. Dolorem, eos deleniti consequuntur
        distinctio suscipit cupiditate soluta aliquam nam, veniam maxime
        consequatur pariatur sapiente et quis id? Fugiat, est cupiditate.
        Consequuntur nesciunt ipsa illum laborum accusantium atque placeat.
        Deleniti eum quos quis corporis cupiditate sunt aliquid saepe optio nemo
        praesentium, animi distinctio tempora nesciunt ab mollitia eligendi
        incidunt perferendis, labore earum officiis voluptatibus cumque
        voluptatem quod repellendus. Obcaecati quibusdam animi facilis vero
        laborum, ipsum consectetur consequuntur odit reprehenderit dolorum est
        atque omnis, explicabo, dolor sint laudantium. Cupiditate repellat
        ratione labore. Atque, repellendus suscipit. Maiores ullam error sint
        libero ipsum, quis beatae?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
